.header {
	display: flex;
	align-items: center;
	height: 80px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 80px !important;
	padding-right: 80px !important;
	background: transparent;
	margin: auto auto;
	font-size: 18px;
	z-index: 100;
	top: 0;
	position: sticky;
}

.header__logo {
	flex: 0.2;
}

.header__logo > img {
	width: 102px;
	cursor: pointer;
}

.header__middle {
	color: #f3f3ec;
	display: flex;
	justify-content: center !important;
	flex: 0.6;
	margin-left: 30px;
	margin-right: 30px;
}

.header__middle > p {
	padding: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-right: 30px;
	color: #f3f3ec;
	font-weight: 400;
}
.header__middle > p:hover {
	color: #919596 !important;
}
.header__right {
	flex: 0.2;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header > .header__right > .header__rightHost {
	color: #f3f3ec;
	cursor: pointer;
	font-size: 16px;
}
.header > .header__right > .header__rightLang {
	color: #f3f3ec;
}

.header__rightLang > .MuiSvgIcon-root {
	font-size: 20px;
	cursor: pointer;
}

.header__rightUser {
	height: 42px;
	width: 77px;
	background-color: #fffff3;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around !important;
}
.header__rightUserBar > .MuiSvgIcon-root {
	color: #717171 !important;
	cursor: pointer;
}

.header__rightUserAvatar > .MuiSvgIcon-root {
	color: #717171;
	cursor: pointer;
}
